body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #555;
}

.rec-right {
  border-right: 3px solid black;
  width: 100% - 3px;
  height: 100%;
}

.bod-right {
  border-right: 3px solid black;
}

.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
  text-align: left;
}